/* HEADER */
header {
  width: 100%;
  height: 9rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  font-size: var(--fontTitle);
}
header .cart {
  width: 7rem;
  height: 5rem;
  cursor: pointer;
  font-size: var(--fontP);
  display: flex;
  align-items: center;
  justify-content: center;
}
header .cart .amount {
  margin-right: 0.7rem;
}

/* MAIN */
main {
  padding: 4rem 0rem;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
main .category {
  align-self: flex-start;
}
main .category > h2 {
  color: var(--title);
  font-size: var(--fontH2);
  font-weight: 600;
  position: relative;
}
main .category > h2::after {
  content: "";
  width: 40%;
  height: 0.4rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--title);
}
main .products {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
main .products .message {
  margin-top: 5rem;
}
main .products .card {
  width: 30rem;
  height: auto;
  background: var(--white);
  padding: 2rem;
  cursor: pointer;
  transition: 0.1s linear;
}
main .products .card:hover {
  box-shadow: 1px 1px 10px 1px #ccc;
}
main .products .card .image {
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
main .products .card .image img {
  max-width: 100%;
  max-height: 100%;
}
main .products .card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 20rem;
}
main .products .card .description {
  font-size: var(--fontP);
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--gray);
}
main .products .card .description:hover {
  color: var(--black);
}
main .products .card .price {
  align-self: flex-start;
  margin-top: 2rem;
}
main .products .card .price p {
  font-weight: 500;
  cursor: auto;
}
main .products .card .price p:nth-child(1) {
  color: var(--title);
  font-size: var(--fontP);
}
main .products .card .price p:nth-child(2) {
  color: var(--buy-or-price);
  font-size: var(--fontSmall);
}

/* Box Product Buy */
#box-product {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  display: grid;
  place-items: center;
  transition: all 0.15s linear;
}
#box-product .overlay {
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
#box-product #content {
  width: 110rem;
  height: 55rem;
  background: var(--white);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  border-radius: 10px;
  gap: 2rem;
  box-shadow: 1px 1px 3px 2px #fff;
}
#box-product #content .image {
  width: 40rem;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#box-product #content .image > img {
  max-width: 100%;
  max-height: 100%;
  width: 80%;
  transition: transform 0.15s linear;
  cursor: pointer;
}
#box-product #content .image > img:hover {
  transform: scale(1.15);
}
#box-product #content .description {
  width: 70rem;
  height: 50rem;
  padding: 3rem;
  display: grid;
  align-items: center;
  justify-content: center;
}
#box-product #content .description .separator {
  width: 100%;
  height: 1px;
  background: rgba(200, 200, 200, 0.15);
  margin: 1rem 0;
}
#box-product #content .description p.product-description {
  font-size: var(--fontP);
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--black);
  cursor: pointer;
}
#box-product #content .description .price,
#box-product #content .description nav.options,
#box-product #content .description .amount,
#box-product #content .description .buy {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}
#box-product #content .description .price > p:nth-of-type(1),
#box-product #content .description nav.options > p,
#box-product #content .description .amount {
  font-size: var(--fontNormal);
  font-weight: 400;
  color: var(--gray);
}
#box-product #content .description .price .value-price > p:nth-child(1) {
  font-size: var(--fontH2);
  font-weight: 600;
  color: var(--title);
}
#box-product #content .description .price .value-price > p:nth-child(2) {
  font-size: var(--fontSmall);
  color: var(--buy-or-price);
}
#box-product #content .description nav.options ul {
  display: flex;
  gap: 2rem;
}
#box-product #content .description nav.options ul li {
  list-style: none;
  cursor: pointer;
  padding: 0.5rem 2.5rem;
  border: 1px solid var(--gray);
  font-size: var(--fontNormal);
}
#box-product #content .description nav.options ul li:hover {
  color: var(--white);
  border-color: var(--title);
  background-color: var(--title);
}
#box-product #content .description nav.options ul li.optionActive {
  color: var(--white);
  border-color: var(--title);
  background-color: var(--title);
}
#box-product #content .description .amount {
  margin: 0.5rem 0;
}
#box-product #content .description .amount .value-amount {
  display: flex;
}
#box-product #content .description .amount .value-amount button,
#box-product #content .description .amount .value-amount input,
#menu-cart .content .main .card .overview .values .input > button,
#menu-cart .content .main .card .overview .values .input input {
  width: 3rem;
  height: 3rem;
  font-size: var(--fontNormal);
  cursor: pointer;
  border: 1px solid var(--gray);
  outline: none;
  background: rgba(200, 200, 200, 0.1);
}

#box-product #content .description .amount .value-amount button:active,
#menu-cart .content .main .card .overview .values .input button:active {
  background: var(--gray);
  color: var(--white);
}
#box-product #content .description .amount .value-amount input {
  width: 6rem;
  border-left: none;
  border-right: none;
  cursor: auto;
  padding: 0 0.4rem;
  text-align: center;
}
#box-product
  #content
  .description
  .amount
  .value-amount
  input[type="number"]::-webkit-inner-spin-button,
#menu-cart
  .content
  .main
  .card
  .overview
  .values
  .input
  input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#box-product #content .description .amount .value-amount p {
  margin-left: 1rem;
}
#box-product #content .description .buy > a {
  font-size: var(--fontMedium);
  text-decoration: none;
  border: 1px solid transparent;
  background: var(--buy-or-price);
  color: var(--white);
  padding: 1.5rem 2.2rem;
  border-radius: 5rem;
  transition: all 0.15s linear;
}
#box-product #content .description .buy > a:hover {
  background: transparent;
  color: var(--buy-or-price);
  border-color: var(--buy-or-price);
}
#box-product #content .description .buy > button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: var(--fontNormal);
  color: var(--cancel);
}

/* Carrinho */
.overlay-menuCart {
  display: none;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
}
#menu-cart {
  z-index: 2;
  position: absolute;
  top: 0;
  right: -150%;

  width: 40rem;
  height: 100vh;

  background: var(--white);
  box-shadow: 1px 1px 10px 1px #ccc;
  transition: all 0.25s linear;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#menu-cart.menu-actived {
  right: 0;
}
#menu-cart .header {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 4rem;
}
#menu-cart .header .closeCart {
  align-self: flex-start;

  width: 5rem;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font-size: var(--fontH2);
  color: var(--title);

  border-radius: 5px;
  margin: 1rem 0 0 1rem;
}
#menu-cart .header .closeCart:active {
  background: rgba(200, 200, 200, 0.5);
}
#menu-cart .header .titleCart {
  margin-top: 1rem;
}
#menu-cart .header .titleCart h2 {
  font-size: var(--fontH2);
  font-weight: 600;
  color: var(--title);
}
#menu-cart .main {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 3rem;

  padding: 2rem;
}
#menu-cart .main .card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#menu-cart .main .card .image {
  width: 13rem;
  height: 13rem;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
#menu-cart .main .card .image img {
  width: 85%;
  transition: 0.15s linear;
}
#menu-cart .main .card .image:hover > img {
  width: 100%;
}
#menu-cart .main .card .content {
  width: 100%;
}
#menu-cart .main .card .content .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#menu-cart .main .card .content .title h2 {
  font-size: var(--fontMedium);
  font-weight: 500;
  color: var(--gray);

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#menu-cart .main .card .content .title p {
  font-size: var(--fontNormal);
  font-weight: 600;
  color: var(--title);

  white-space: nowrap;
}
#menu-cart .main .card .content .color-product {
  width: 100%;
}
#menu-cart .main .card .content .color-product p {
  font-size: var(--fontSmall);
  color: var(--gray);
}
#menu-cart .main .card .content .amount-deleteProduct {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
#menu-cart .main .card .content .amount-deleteProduct p {
  font-size: var(--fontSmall);
  color: var(--title);
}
#menu-cart .main .card .content .amount-deleteProduct button {
  width: 3rem;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;
  cursor: pointer;
}
#menu-cart .main .card .content .amount-deleteProduct button > i {
  font-size: var(--fontMedium);
  color: var(--title);
}
#menu-cart .footer {
  width: 100%;

  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding: 4rem 2rem 3rem;
}
#menu-cart .footer .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#menu-cart .footer .info p {
  font-size: var(--fontNormal);
  color: var(--gray);
}
#menu-cart .footer a {
  display: block;
  width: 90%;

  background: var(--title);
  color: var(--white);

  font-size: var(--fontNormal);
  font-weight: 600;

  border: 1px solid transparent;
  border-radius: 0.6rem;

  text-align: center;
  text-decoration: none;

  padding: 2rem 0;
  margin: 2rem auto 0;

  transition: 0.15s linear;
}
#menu-cart .footer a:hover {
  background: transparent;
  color: var(--title);
  border-color: var(--title);
}
